
$text-light: #316397;
$text-dark: #213f5c;

$background-color-light: #f0f8fa;
$background-color-dark: #e0eefb;
* {
    padding:0;
    margin:0;
    font-family: Georgia;
}
a {
    text-decoration: none;
    color: $text-light;
}

h1, h2, h3 {
    color: $text-dark;
}
body {
    background-color: $background-color-light; 
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    min-height: 100vh;
}

#navbar {
    height: 2rem;
    display: flex;
    width:80%;
    margin: 5vh auto 65px auto;
    grid-column-start: 4 /-1;
    a {
        display:block;
        margin-right:2rem;
        font-weight: bold;
        &:hover{
            //color:$text-dark;
            text-shadow: 0px 0 .3px $text-dark;
        }


    }
    .active {
        color:$text-dark;
    }
}

#sidebar {
    height: 100%;
    background-color: $background-color-dark; 
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:1rem;
    img {
        margin-top: 10vh;
        margin-left:auto;
        margin-right:auto;
        margin: 10vh auto 2rem auto;
        width:150px;
        height: auto;
        border-radius: 50%;
        display:block;
    }
    h2 {
        margin-bottom:.5rem;
    }
    h2, p {
        text-align: center;
        color: $text-light;
    }
    p:last-child{
        text-align: left;
        margin-left:1rem;
        margin-right:auto;
    }
}

#technologies{
    margin-top: 5rem;
    color: $text-light;
    margin-bottom:15vh;
    p {
        text-align:left;
        align-self: flex-start;
    }
    ul {
        margin-top:.5rem;
        padding-left:1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
            color: $text-dark;
            margin:0.2rem;
        }
    }
}



.container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#blog-entries {
    color: $text-dark;
    margin-top:1rem;
    padding-top:1rem;
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom:2rem;
}

.blog-entry {
    width: fit-content;
    display: flex;
    padding: 1rem 1rem;
    background-color: $background-color-dark;
    margin-bottom:1.5rem;
    max-width: 90%;
    transition: all .1s ease-in-out ;
    &:hover{
        cursor: pointer;
        transform: scale(0.98);
    }
    .date {
        margin-right: 1rem;
        font-weight: bold;
        text-align: center;
    }
    .day {
        margin-bottom:.1rem;
        text-align: center;
    }
    h3 {
        display: flex;
        //justify-content: center;
        align-items: center; 
    }
}

.break {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5vh;
}

#latest-project {
    cursor: pointer;
    padding: 1rem 1rem;
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10vh;
    display:flex;
    flex:2;
    img {
        max-width:50%;
        height: auto;
    }
    h4 {
        margin-top:1rem;
        text-align: center;
        color:$text-light;
    }
    div {
        margin-right:1rem;
    }
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    transition: all .1s ease-in-out;
}

.margin-auto{
    margin-left:auto;
    margin-right:auto;
}

.article{
    line-height: 1.5rem;
    li{
        color: $text-light;
        margin-left:2rem;
    }
    p{
        color:$text-light;
        margin-top:1rem;
        margin-bottom: 1rem;
    }
    h1,h2,h3,h4,h5{
        line-height: 2rem;
        margin-top:3rem;
        margin-bottom:2rem;
    }
}

code {
    font-family: Consolas,"courier new";
    color: $text-dark;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

pre {
    background-color: #f1f1f1;
}

#sidebar{
    grid-column-start: 1 ;
    grid-column-end: 4;
}
#main-container{
    grid-column: 4 / -1;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    body {
        display:flex;
        flex-direction: column;
    }
    #sidebar{
        grid-column-start: 1 ;
        grid-column-end: 5;
    }
    #main-container{
        grid-column: 5 / -1;
    }

    #technologies{
        margin-top:1rem;
        margin-bottom:1rem;
        float: left;
        align-self: start;
    }

    p{
        margin-left:1rem;
    }

    #navbar {
        justify-content: space-around;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    #sidebar{
        grid-column-start: 1 ;
        grid-column-end: 5;
    }
    #main-container{
        grid-column: 5 / -1;
    }
}

.about{
    color:$text-light;
    p{
        margin-bottom:4rem;
    }
    a{
        color:$text-dark;
    }
    line-height: 2rem;
}
