{{define "main"}}
    <div class="container">
        <h1>Latest Blog Entries</h1>
        <div id="blog-entries">
            {{range first 3 (where .Site.RegularPages "Section" "==" "blog")}}
            <a href="{{.Permalink}}">
                <div class="blog-entry">
                     <div class="date">
                          <h2 class="day">
                               {{ .Date.Format "2"}}
                          </h2>
                          <div class="month">
                               {{ .Date.Format "Jan"}}
                          </div>
                          <div class="year">
                               {{ .Date.Format "2006"}}
                          </div>
                     </div>
                     <h3>{{.Title}}</h3>
                </div>
           </a>
            {{end}}
        </div>
    </div>
    <hr class="break">
    <div class="container">
        <a href="https://gallery.filipelucas.com" target="_blank">
            <div id="latest-project">
                <div>
                    <h1>Latest Project</h1>
                    <h4>Gallery Portofolio</h5>
                </div>
                <img src="gallery.png" class="margin-auto">
            </div>
        </a>
    </div>
{{end}}

{{define "title"}}
Filipe Lucas - Homepage
{{end}}